.pixel-box {
    color: #212529;
    border: none;
    border-radius: 0;
    box-shadow: 0 -4px #fff, 0 -8px, 4px 0 #fff, 4px -4px, 8px 0, 0 4px #fff, 0 8px, -4px 0 #fff, -4px 4px, -8px 0, -4px -4px, 4px 4px;
}